USE [master]
GO
/****** Object:  Database [kinest]    Script Date: 5/5/2018 3:11:03 PM ******/
CREATE DATABASE [kinest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kinest', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\kinest.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'kinest_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\kinest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kinest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kinest]
GO
/****** Object:  StoredProcedure [dbo].[sitesStoredStoreSite]    Script Date: 5/5/2018 3:11:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sitesStoredStoreSite]
	@protocol NVARCHAR(10),
	@url NVARCHAR(100)
AS

SET NOCOUNT ON

INSERT INTO [dbo].[sitesStored] 
			(
			protocol,
			url
			)
	VALUES
		(@protocol,
		@url)

GO
/****** Object:  Table [dbo].[sitesStored]    Script Date: 5/5/2018 3:11:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sitesStored](
	[siteId] [int] IDENTITY(1,1) NOT NULL,
	[protocol] [nvarchar](10) NOT NULL,
	[url] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_sitesStored_1] PRIMARY KEY CLUSTERED 
(
	[siteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
